.tabs {
    /* border: 2px solid pink; */
}

.tablist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* border: 2px solid sandybrown; */
}

.tab {
    text-align: center;
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    color: #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
}

.react-tabs__tab--selected{
    background: #1C304A !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.react-tabs__tab--selected::after {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-top-color: #fff;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
    width: 0;
    height: 0;
    bottom: -2px;
    margin: 0 auto;
}

.tab:nth-child(1) {
    margin-right: 20px;
}

.tab:nth-child(2) {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .tab:nth-child(1) {
        margin-right: 10px;
    }
    
    .tab:nth-child(2) {
        margin-left: 10px;
    }
}

.accordian {
    border: 1px solid salmon;
}

.accordian_item {

}