.tabs {
    /* border: 2px solid pink; */
}

:focus {
    outline: none;
}

.tablist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* border: 2px solid sandybrown; */
}

.tab {
    text-align: center;
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    color: #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
}

.react-tabs__tab--selected{
    background: #1C304A !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.react-tabs__tab--selected::after {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-top-color: #f4f4f4;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
    width: 0;
    height: 0;
    bottom: 0;
    margin: 0 auto;
}

.tab:nth-child(1) {
    margin-right: 20px;
}

.tab:nth-child(2) {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .tab:nth-child(1) {
        margin-right: 10px;
    }
    
    .tab:nth-child(2) {
        margin-left: 10px;
    }
}

.accordian {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.accordian_item {

}

.accordian_item_heading {

}

.accordian_item_button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
}

.accordian_item_button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.accordian_item_button[aria-expanded='true']::before, .accordion_item_button[aria-selected='true']::before  {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordian_item_button:hover {
    background-color: #ddd;
};

.accordian_item_button:focus {
    outline: none !important;
};


.accordian_item_panel {

}