
@import "colors.css";
@import "button.css";
@import "hero01.css";
@import "faq.css";
@import "wizard.css";
@import "videomodal.css";
@import "typography.css";
@import "headerbar.css";


body {
    font-family: "Colfax", "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
}



main {
    margin: 0 auto;
}

section {
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    section {
        margin-bottom: 50px;
    }
  }

.flexheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.borderbottom {
    border-bottom: 1px solid #dfe4ea;
    margin-bottom: 25px;
}

.greyblue {
    color: #3e4462 !important;
}

.logo {
    height: 50px;
}

.industry1 {
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(0, 213, 75, 0.06);
}

.container {
    max-width: 1440px;
    padding: 0 3%;
    margin: 0 auto;
}


.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 70px;
}

.half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

@media (max-width: 1114px) {
    .half-grid {
        grid-template-columns: 1fr;
    }
    .feature01 {
        text-align: center;
    }
    .bullets {
        border-top: 1px solid var(--light-grey);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feature01icon {
        margin-bottom: 14px;
        border-radius: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        background: var(--light-grey);;
    }
    .feature11 {
        margin-top: 40px;
        display: block;
    }
    .feature01 .flexcenter {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1114px) {
    .feature01 .flexcenter {
        display: block;
    }
    .feature11 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
    } 
    
    .feature11:last-child {
        margin-bottom: 0;
    }
    .feature11 span {
        margin-right: 25px; 
    }
    .feature01icon {
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        background: var(--light-grey);;
    }
    .bullets {
        border-left: 1px solid var(--light-grey);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }
}




.feature11 h3 {
    margin-bottom: 10px;
}


.credit, .rates, .speed {
    height: 35px;
}


.third-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 70px;
    /* border: 2px solid saddlebrown; */
}

@media (max-width: 900px) {
    .third-grid {
        grid-template-columns: 1fr;
    }
}

.fourth-grid {
    /* text-align: center; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 70px;

    /* border: 2px solid saddlebrown; */
}


@media (max-width: 900px) {
    .fourth-grid {
        grid-template-columns: 1fr;
    }
}

.why {
    position: relative;
    overflow: hidden;
    background-color: rgb(251, 251, 251);
    padding: 70px 0;
}

.why::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    height: 40px;
    z-index: 40;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 9px 14px -6px inset;   
}

.why::after {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -9px 14px -6px inset;
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    height: 40px;
    z-index: 40;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.hero-video {
    margin-top: 70px;
}

.sales-copy {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* border: 3px solid gold; */
}



.step {
    color: #fff;
    margin: 0 auto;
    display: flex;
    background-color: var(--brand-color);
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-bottom: 25px;
    border-radius: 50%;
    font-weight: 500;}


.play {
    fill: #fff;
}

.feature span {
    margin-right: 25px;
}

.feature h3 {
    margin-top: 0;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* .feature11 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
} 

.feature11:last-child {
    margin-bottom: 0;
} */



.faq h2 {
    margin-bottom: 50px;
}
