.hero01 {
    height: 480px;
    background: salmon;
}

.background-section {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.black-overlay {
    display: -webkit-flex;  /* Safari */
    display: flex;
    background-color: rgba(0,0,0,.65);
    height: 100%;
    align-items: center;
    color: #fff;
    text-align: center;
}

.heros-dealer {
    margin: 0 auto;
    border-top: 1px solid white;
}

.logos {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.miller-logo, .jerrdan-logo, .peterbilt-logo, .freightliner-logo, .cat-logo, .mack-logo {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .logos {
        display: flex;
        justify-content: space-between;
       
    }
}

