@font-face {
    font-family: "Colfax";
    src: url("../fonts/colfaxwebbold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Colfax";
    src: url("../fonts/colfaxwebmedium.woff2");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Colfax";
    src: url("../fonts/colfaxwebregular.woff2");
    font-weight: 400;
  }